{% extends "base.html" %}
{% block content %}
<h1>Swiss TableTop</h1>
<p>How to use this app:</p>
<ol>
    <li>Enter the players present for your game day.</li>
    <li>Generate your first "random" round of games.</li>
    <li>Play your games and then input the scores, the app will then generate your next round of games using the Swiss-pairings system!</li>
</ol>
<p><i>We recommend having at least 6 to 8 players to get the most out of the Swiss system.</i></p>
<div class="sub-footer">
    <a href="/players/new">Add your Players</a>
</div>
{% endblock %}