{% extends "base.html" %}
{% block content %}

{% for player in all_players %}
    <div class="player_card">
        <div class="player_card_left">    
            <a href="/players/{{player.id}}"><h3>{{player.name}}</h3></a>
            <p>{{player.army}}</p>
        </div>
        <div class="player_card_right">
            <p>Wins : losses</p>
            <p>{{player.wins}}:{{player.losses}}</p>
        </div>
        <div class="player_card_footer"></div>
            <a href="/books/{{player.id}}/edit">Edit</a><a href="/books/{{player.id}}/delete">Delete</a>
    </div>
{% endfor %}

{% endblock %}