{% extends "base.html" %}
{% block content %}

<h2>New Player</h2>
<p>Number of players: {{ players_length }}</p>
<form class="form_page" action="/players" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>
  
    <div>
      <label for="army">Army:</label>
      <input type="text" id="army" name="army" placeholder="Army" required>
    </div>
  
    <button type="submit" name='action' value="one">Add Player</button>
    <button type="submit" name='action' value="two">Add Another Player</button>

  
  </form>

{% endblock %}